<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :memo %><br>
    <%= f.text_field :memo %>
  </div>
  <div class="field">
    <%= f.label :paysb %><br>
    <%= f.text_field :paysb %>
  </div>
  <div class="field">
    <%= f.label :payks %><br>
    <%= f.text_field :payks %>
  </div>
  <div class="field">
    <%= f.label :paysc %><br>
    <%= f.text_field :paysc %>
  </div>
  <div class="field">
    <%= f.label :paykn %><br>
    <%= f.text_field :paykn %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
