<div class = "payment-form-div">

  <div role="tabpanel">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#Stuart" aria-controls="Stuart" role="tab" data-toggle="tab">Stuart</a></li>
      <li role="presentation"><a href="#Katy" aria-controls="Katy" role="tab" data-toggle="tab">Katy</a></li>
      <li role="presentation"><a href="#Simon" aria-controls="Simon" role="tab" data-toggle="tab">Simon</a></li>
      <li role="presentation"><a href="#Kieran" aria-controls="Kieran" role="tab" data-toggle="tab">Kieran</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="Stuart">
        <table class="table table-bordered" id = "manager_table">
          <thead>
            <tr>
              <th>Katy</th>
              <th>Simon</th>
              <th>Kieran</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="<%=User.td_cell_colour_class(@Stuart_Katy) %>"><%= '$%.2f' % @Stuart_Katy %></td>
              <td class="<%=User.td_cell_colour_class(@Stuart_Simon) %>"><%= '$%.2f' % @Stuart_Simon%></td>
              <td class="<%=User.td_cell_colour_class(@Stuart_Kieran) %>"><%= '$%.2f' % @Stuart_Kieran%></td>
              <td class="<%=User.td_cell_colour_class(@Stuart_Total) %>"><%= '$%.2f' % @Stuart_Total%></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div role="tabpanel" class="tab-pane" id="Katy">
        <table class="table table-bordered" id = "manager_table">
          <thead>
            <tr>
              <th>Stuart</th>
              <th>Simon</th>
              <th>Kieran</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="<%=User.td_cell_colour_class(@Katy_Stuart) %>"><%= '$%.2f' % @Katy_Stuart %></td>
              <td class="<%=User.td_cell_colour_class(@Katy_Simon) %>"><%= '$%.2f' % @Katy_Simon %></td>
              <td class="<%=User.td_cell_colour_class(@Katy_Kieran) %>"><%= '$%.2f' % @Katy_Kieran %></td>
              <td class="<%=User.td_cell_colour_class(@Katy_Total) %>"><%= '$%.2f' % @Katy_Total%></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div role="tabpanel" class="tab-pane" id="Simon">
        <table class="table table-bordered" id = "manager_table">
          <thead>
            <tr>
              <th>Stuart</th>
              <th>Katy</th>
              <th>Kieran</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="<%=User.td_cell_colour_class(@Simon_Stuart) %>"><%= '$%.2f' % @Simon_Stuart %></td>
              <td class="<%=User.td_cell_colour_class(@Simon_Katy) %>"><%= '$%.2f' % @Simon_Katy %></td>
              <td class="<%=User.td_cell_colour_class(@Simon_Kieran) %>"><%= '$%.2f' % @Simon_Kieran %></td>
              <td class="<%=User.td_cell_colour_class(@Simon_Total) %>"><%= '$%.2f' % @Simon_Total%></td>
            </tr>
          </tbody>
        </table> 
      </div>
      <div role="tabpanel" class="tab-pane" id="Kieran">
        <table class="table table-bordered" id = "manager_table">
          <thead>
            <tr>
              <th>Stuart</th>
              <th>Katy</th>
              <th>Simon</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="<%=User.td_cell_colour_class(@Kieran_Stuart) %>"><%= '$%.2f' % @Kieran_Stuart %></td>
              <td class="<%=User.td_cell_colour_class(@Kieran_Katy) %>"><%= '$%.2f' % @Kieran_Katy %></td>
              <td class="<%=User.td_cell_colour_class(@Kieran_Simon) %>"><%= '$%.2f' % @Kieran_Simon %></td>
              <td class="<%=User.td_cell_colour_class(@Kieran_Total) %>"><%= '$%.2f' % @Kieran_Total%></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>
