<!DOCTYPE html>
<html>
<p class="navbar-text pull-right">
  <% if user_signed_in? %>
      Logged in as <strong><%= link_to "#{current_user.username}", edit_user_registration_path %></strong>.
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
  <% end %>
</p>
<head>
  <title>Pinehill</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<% if alert %>
    <p class="alert alert-error"><%= alert %></p>
<% end %>

<br/>
<br/>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
